<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>タイトル</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/css/common.min.css">
  </head>
  <body>
    <nav class="l-header_nav">
      <div class="l-header_title">
        <h1>KASIODA</h1>
      </div>
      <div class="l-header_nav">
        <ul class="l-header_wapper">
          <li>TREND</li>
          <li>BEAUTY</li>
          <li>FASION</li>
          <li>GOURMET</li>
          <li>GUIDE</li>
        </ul>
      </div>
    </nav>
  </body>